.title {
  font-family: robotoL;
  font-size: 48px;
  color: white;
  text-align: right;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.subtitle {
  font-family: robotoL;
  font-size: 48px;
  color: white;
  text-align: center;
  margin: 0;

  a {
    font-size: 24px;
  }
}

.Mainsection {
  display: block;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  h2 {
    font-family: robotoL;
    text-align: center;
    color: black;
  }

  p {
    font-family: robotoM;
    text-align: center;
    color: black;
  }
}

.section {
  display: block;
  background-color: white;
  left: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  top: 200px;

  h2 {
    font-family: robotoL;
    text-align: center;
    color: black;
  }

  p {
    font-family: robotoM;
    text-align: center;
    color: black;
  }

  table {
    font-family: robotoM;
    text-align: center;
    color: black;
    table-layout: fixed;
    width: 100%;

    tr td {
      padding: 10px;
      width: 25%;

      div {
        position: relative;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

p {
  font-family: roboto;
  color: white;
}

body {
  background-image: url("../public/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
