.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  img {
    display: block;
    float: left;
    height: 48px;
    width: auto;
  }

  a {
    display: block;
    float: right;
    font-family: roboto, sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .except {
    display: block;
    float: left;
    padding: 0 0;
  }
}
